.advantages p,
.advantages h3 {
  margin: 0;
  padding: 0;
}

.advantages__head-style {
  width: 205px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 42px;
  margin-bottom: 30px;

  background-color: @white;
}

.advantages__head-style p {
  margin-bottom: 31px;
}

.advantages__list-wrap {
  position: relative;

  background-color: @gray;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(to top left, transparent 50%, @white 50%);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 100% 100%;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 260px;
  text-align: center;

  margin: 0 auto;
  padding: 0;

  list-style: none;

  padding-top: 83px;
}

.advantages__item {
  h3 {
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 12px;
  }

  p {
    margin-bottom: 31px;
  }
}

.advantages__image-iphone {
  width: 157px;
  height: 277px;

  margin: 0 auto;

  margin-top: 10px;
}

.advantages__item img {
  display: none;
}


@media (min-width: @tablet-width) {
  .advantages {
    margin-bottom: 57px;
  }

  .advantages__head-style {
    width: 590px;
    font-size: 40px;
    line-height: 50px;

    margin-bottom: 46px;

    p {
      margin: 0 auto;
    }
  }

  .advantages__head-style-br {
    width: 335px;
  }

  .advantages__list-wrap {
    flex-direction: row-reverse;
    justify-content: center;

    &::after {
      height: 50px;
    }
  }

  .advantages__list {
    position: relative;
    width: 660px;
    min-height: 411px;
    align-items: flex-end;
    margin-top: 73px;
    padding: 0;
  }

  .advantages__item {
    width: 307px;
    text-align: left;

    margin-right: 24px;
  }

  .advantages__item p {
    margin-bottom: 34px;
  }

  .advantages__image-iphone {
    position: absolute;
    z-index: 5;
    width: 268px;
    height: 480px;
    bottom: 0;
    margin: 0;
    left: 21px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__image-iphone {
    display: none;
  }

  .advantages__list-wrap::after {
    height: 95px;
  }

  .advantages__list {
    position: relative;
    flex-direction: row;

    justify-content: space-around;
    align-items: flex-start;


    min-width: 960px;
    min-height: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: normal;

    margin: 0;
    padding-top: 356px;
    padding-bottom: 30px;
  }

  .advantages__item {
    width: 230px;
    margin: 0;

    text-align: center;

    img {
      position: absolute;
      z-index: 20;
      display: flex;
      justify-content: space-around;

      top: 0;
    }

    h3 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 25px;
    }
  }

  .advantages__item--iphone-screen-1 {
    left: 17px;
  }

  .advantages__item--iphone-screen-2 {
    left: 50%;
    margin-left: -140px;
  }

  .advantages__item--iphone-screen-3 {
    right: 10px;
  }


  .advantages__head-style {
    width: 735px;
    font-size: 50px;
    line-height: 58px;

    margin-bottom: 82px;
  }

  .advantages__head-style-br {
    width: 425px;
  }

  .advantages-wrap {
    background-color: @gray;
  }
}
