.reviews__age-proff {
  display: none;
}

.reviews-slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 320px;
  min-height: 353px;
}

.rewiew--deactive {
  display: none;
}

.reviews__item {
  position: absolute;
  margin: 0;

  width: 280px;

  top: 42px;
  left: 50%;
  margin-left: -140px;

  text-align: center;

  line-height: 30px;

  background-color: @white;

  overflow: hidden;
}

.reviews__autor-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: @black;
}

.reviews__text {
  margin: 0;
}


.toggles {
  position: absolute;
  z-index: 10;
}

.reviews__toggles {
  left: 50%;
  margin-left: -53px;
  bottom: 29px;
}

.toggles__item {
  display: none;
}

.pseudotoggle::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;

  background-color: #bec2c7;

  border-radius: 50%;

  cursor: pointer;
}

.toggles__item:checked + .pseudotoggle::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;

  margin-left: -3px;
  margin-top: -3px;

  background-color: @white;
  border: 3px solid @dark-blue;
  border-radius: 50%;
}

.pseudotoggle {
  margin-left: 25px;
}

.reviews-slider__control-left,
.reviews-slider__control-right {
  display: none;
}


@media (min-width: @tablet-width) {
  .reviews-slider {
    width: 660px;
  }

  .reviews__item {
    display: flex;
    width: 620px;
    top: 88px;
    margin-left: -310px;
    flex-direction: column-reverse;
    font-size: 18px;
  }

  .reviews__autor-name {
    font-size: 20px;
    padding-top: 34px;
  }

  .reviews__age-proff {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: @dark-blue;
    margin: 0;
  }

  .reviews__toggles {
    left: 50%;
    margin-left: -53px;
    bottom: 7px;
  }

  .rewiew--deactive {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews-quotes {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;

    width: 79px;
    height: 65px;

    margin: 0 auto;
    margin-top: 72px;
  }

  .reviews-slider {
    position: relative;
    width: 1200px;
    min-height: 410px;
    margin: 0 auto;
  }

  .reviews__item {
    width: 685px;
    top: 186px;
    margin-left: -342px;
  }

  .reviews__autor-name {
    padding-top: 36px;
    font-size: 24px;
  }

  .reviews__age-proff {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews-slider__control-left,
  .reviews-slider__control-right {
    display: block;
    position: absolute;
    z-index: 10;

    top: 210px;
    width: 23px;
    height: 44px;

    font-size: 0;
    border: 0;

    cursor: pointer;
    background-color: transparent;
  }

  .reviews-slider__control-left::before,
  .reviews-slider__control-left::after,
  .reviews-slider__control-right::before,
  .reviews-slider__control-right::after {
    position: absolute;
    content: "";
    left: -3px;
    width: 30px;
    height: 2px;
    background-color: #bec2c7;
  }

  .reviews-slider__control-left {
    left: 130px;

    &::before {
      top: 11px;
      transform: rotate(-45deg);
    }

    &::after {
      bottom: 11px;
      transform: rotate(45deg);
    }
  }

  .reviews-slider__control-right {
    right: 130px;

    &::before {
      top: 11px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 11px;
      transform: rotate(-45deg);
    }
  }
}
