@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@import "variables/variables.less";
@import "header/main-header.less";
@import "header/main-nav.less";
@import "footer/contact-us.less";
@import "footer/footer-icons.less";
@import "footer/footer-social.less";
@import "footer/footer-logo.less";
@import "footer/footer-htmlacademy.less";
@import "index/app-download.less";
@import "index/advantages.less";
@import "index/effect.less";
@import "index/reviews.less";
@import "index/plans.less";
@import "index/map";
@import "photo/photo-main.less";
@import "photo/photo-users.less";
@import "photo/panorama.less";
@import "photo/user-editor.less";
@import "photo/photo-button.less";
@import "photo/photo-name.less";
@import "photo/photo-time.less";
@import "photo/photo-text.less";
@import "photo/photo-like.less";
@import "competition/application-form.less";
@import "competition/competition-main.less";
@import "modals/modal.less";
@import "modals/modal-close.less";
@import "modals/modal-error.less";
@import "button/button.less";

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: @dark-blue;
}

.container {
  width: auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .container {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 960px;
    padding: 0 130px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// .visually-hidden:not(:focus):not(:active)
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-style {
  color: @white;
  text-decoration: none;
  cursor: pointer;
}
