@tablet-width: 660px;
@desktop-width: 1200px;
@mobile-to-tablet-width-only: 1199px;
@white: #ffffff;
@black: #000000;
@red: #d22856;
@red-active: #791630;
@dark-blue: #283645;
@gray: #f2f2f2;
@dark-gray: #e5e5e5;
@green: #3dc644;
@orange: #f25b26;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
